<style>
    .whatsapp{
        color:rgb(29, 187, 29);
    }
    .insta{
        color:#da337e;
    }
</style>
<footer>
    
    <div class="f-info">
        <div class="f-info-socials">
            &nbsp&nbsp
            
            <a href="https://www.whatsapp.com/your-business-number/"><i class="fa-brands fa-square-whatsapp whatsapp"></i></a>&nbsp&nbsp
            <a href="https://www.instagram.com/your-business-profile/"><i class="fa-brands fa-square-instagram insta"></i></a>&nbsp&nbsp
            <a href="https://www.linkedin.com/in/your-business-profile/"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy</a>&nbsp&nbsp
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>